/* Palette de couleur du site */
$black: #37393e;
$green: #1abc9c;
$white: #ecf0f1;
$yellow: #f1c40f;
$grey: #34495e;
$lightgrey: #8c8c8c;

/* Palette de couleur des réseaux sociaux */
$facebook: #3b5998;
$twitter: #00aced;
$pinterest: #cb2027;
